<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.mat.report.query">
		<query impl="co.senn.eclipse.mat.ext.suspect.database.pool.ConnectionPoolExhaustionHikariCPQuery"/>
		<query impl="co.senn.eclipse.mat.ext.suspect.web.http.ServletContainerNonStartedContextsQuery"/>
		<query impl="co.senn.eclipse.mat.ext.suspect.web.tomcat.TomcatHTTPRequestQuery"/>
	</extension>
	
	<!-- Note: All reports must end with ":suspects" or ":top_consumers" to appear on the Overview page -->
	<extension point="org.eclipse.mat.report.report">
		<report id="usual:suspects"
				description="checks for commonly found issues"
				file="META-INF/reports/usual-suspect.xml"
				name="Usual Suspects"/>
		<report id="http-requests:suspects"
				description="lists all Tomcat HTTP requests"
				file="META-INF/reports/http-requests.xml"
				name="HTTP Requests"/>
	</extension>
	
</plugin>
