<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension-point id="co.senn.eclipse.mat.inspection.inspection" name="Eclipse Memory Analyzer Inspection" schema="schema/co.senn.eclipse.mat.inspection.inspection.exsd"/>
	<extension-point id="co.senn.eclipse.mat.inspection.technology" name="Eclipse Memory Analyzer Inspection Technology" schema="schema/co.senn.eclipse.mat.inspection.technology.exsd"/>
	
	<extension point="org.eclipse.mat.report.query">
		<query impl="co.senn.eclipse.mat.inspection.exec.InspectionQuerySpec"/>
	</extension>
	
	<!-- Note: All reports must end with ":suspects" or ":top_consumers" to appear on the Overview page -->
	<extension point="org.eclipse.mat.report.report">
		<report id="inspections:suspects"
				description="inspects the present technologies for issues"
				file="META-INF/reports/inspection-report.xml"
				name="Inspection Report"/>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page	id="co.senn.eclipse.mat.inspection.preferences.InspectionsPreferencePage"
				class="co.senn.eclipse.mat.inspection.preferences.InspectionsPreferencePage"
				name="Inspections"/>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
				class="co.senn.eclipse.mat.inspection.preferences.PreferenceInitializer"/>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		
	</extension>
	
</plugin>
